@model FoodWeb.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "My Profile";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<form asp-action="Profile" method="post" class="w-50">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Fullname" class="form-label ">Full Name</label>
        <input asp-for="Fullname" class="form-control" />
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label t">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label ">New Password</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label ">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}